{% load static bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h4>Products</h4>
</head>
<body>
<div class="row">
        <div class="col-12 mt-5 form-group">
            {% bootstrap_messages %}
            <form action="" id="product_action" data-agents-url="/ajax/load-agents/" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="float text-center">
                    <button type="submit" class="btn btn-primary col-6">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>