body, html {
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.topnav {
    overflow: hidden;
    background-color: #00405d
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 14px;
!important;
    cursor: pointer;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav-right {
    float: right;
}

.header_top {
    position: relative;
    margin-top: 5px;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 4px 5px;
}

.header_top img {
    height: 50px;
}

.header_top .search-container {
    float: left;
}

.header_top input[type=text] {
    outline-width: 0;
    padding: 0px 10px;
    font-size: 15px;
!important;
    border: none;
    background: #eff0f5;
    border-radius: 3px;
    width: 80%;
    float: left;
}

.header_top .search-container button {
    outline-width: 0;
    float: left;
    width: 8%;
    width: calc(10% - 7.5px);
    padding: 15px;
    background: #ffcc33;
    color: white;
    font-size: 20px;
    border: none;
}

.header_top .search-container button:hover {
    background: #ccc;
}



@media screen and (max-width:600px) {
.header_top .search-container button {
    font-size: 10px;
}
}

